
@mixin colors {
  // 흰
  .cfff {
    background-color: #fff;
  }
}
// 검
.c333 {
  background-color: #333;
}
// 빨
.cfe2e2e {
  background-color: #fe2e2e;
}
// 주
.cfe642e {
  background-color: #fe642e;
}
// 노
.cffff00 {
  background-color: #ffff00;
}
// 초
.c01df01 {
  background-color: #01df01;
}
// 파
.c0040ff {
  background-color: #0040ff;
}
// 보
.c642efe {
  background-color: #642efe;
}
// 검
.c333 {
  background-color: #333;
}
// 빨
.cfe2e2e {
  background-color: #fe2e2e;
}
// 주
.cfe642e {
  background-color: #fe642e;
}
// 노
.cffff00 {
  background-color: #ffff00;
}
// 초
.c01df01 {
  background-color: #01df01;
}
// 파
.c0040ff {
  background-color: #0040ff;
}
// 보
.c642efe {
  background-color: #642efe;
}