@import "./common.scss";

#detail-main-container{
  position: relative;
  top: 120px;
  padding: 20px;
  background-color: bisque;
  > .inner{
    position: relative;
    @include inner;
    background-color: aquamarine;
  }
  .item-info_wrap{
    position: relative;
    min-height: calc(80vh - 120px);
    display: flex;
    justify-content: space-around;
    background-color: brown;
    .item-img_container {
      position: relative;
      width: 650px;
      height: 600px;
      padding: 20px;
      box-sizing: border-box;
      background-color: aliceblue;
      > img{object-fit: cover;}
    }
    .item-purchase_container{
      width: 750px;
      height: 700px;
      padding: 20px;
      box-sizing: border-box;
      background-color: aliceblue;
      .divider{border-top: 1px solid #333;}
    }
  }
}